html {
  position: relative;
  min-height: 100%;
}

#loadingwrap {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  top: 0;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1)
} */

#carousel {
  background-color: #203040;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

#carousel-image {
  border-radius: 50%;
}

.loading {
  margin: auto;
}

.navbar-dark {
  background-color: #203040;
}

.badge {
  background-color: #fbb000;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}


footer {
  background-color: #203040;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: #203040;
}

.link:hover {
  color: #fbb000;
}

/* button */

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border:0.1rem #404040 solid;
}

button.primary {
  background-color: #fbb000;
  color: #203040;
  width: 100%;
  border-radius: 0.5rem;
}

button.increment {
  background-color: #fbb000;
  color: #203040;
  width: 50;
  border-radius: 0.5rem;
}

/* Card */
.card {
  border: 10em #c0c0c0 solid;
  border-radius: 0.5rem;
  margin: 0.8rem;
  margin-bottom: 0.8rem;
  box-shadow: 0.2rem 0.2rem lightgray;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

@media screen and (min-width: 765px) {
  .card-name {
    font-size: 1.3rem;
    padding: 1rem 0;
    color: #203040;
  }
}

.card-name {
  font-size: 1.0rem;
  padding: 1rem 0;
  color: #203040;
}

.card-name:hover {
  color: #fbb000;
}

/* image */

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
  box-shadow: 0.2rem 0.2rem lightgray;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  max-width: 32rem;
  width: 100%;
}

/* rating */

.rating span {
  color: #fbb000;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* form */

button.form {
  background-color: #fbb000;
  color: #203040;
  width: 98%;
  border-radius: 0.5rem;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.label {
  margin: 1rem 0;
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
}

.checkout-steps > div.active {
  border-top-color: #fbb000;
  color: #fbb000;
}